<h1>All our Flats (<%= Flat.count %>)</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <% @flats.each do |flat| %>
    <div class="col">
      <div class="card h-100">
        <div class="card-body bg-light">
          <h5 class="card-title"><%= flat.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= flat.address %></h6>
          <i class="fa-solid fa-users pe-3"><%= flat.number_of_guests %></i>
          <i class="fa-solid fa-euro-sign"><%= flat.price_per_night %></i>
        </div>
        <div class="card-footer bg-transparent">
          <%= link_to "More info", flat_path(flat), class:"card-link" %>
          <%= link_to "Edit", edit_flat_path(flat), class:"card-link text-warning" %>
          <%= link_to "Remove", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"card-link text-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
